@model OneMusic.BusinessLayer.Models.Banner.UpdateBannerViewModel
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Banner Güncelleme Sayfası</h3>
<br />

<div class="card-body">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            @Html.HiddenFor(x=>x.BannerId,new {@class="form-control"})
            <label for="exampleInputPassword1" class="form-label">Başlık</label>
            @Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Alt Başlık</label>
            @Html.TextBoxFor(x=>x.SubTitle,new {@class="form-control"})
            <span asp-validation-for="SubTitle" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Görsel</label>
            <input type="file" asp-for="coverPhoto" class="form-control" />
            <span asp-validation-for="coverPhoto" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>



