@using OneMusic.EntityLayer.Entities;
@model Message
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" id="contact" style="background-image: url(img/bg-img/bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                        <p>Bize</p>
                        <h2>Mesaj Bırakın</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                    <form asp-action="SendMessage" method="post" asp-controller="HomePage" asp-area="Default">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" class="form-control" asp-for="Name" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <input type="email" class="form-control" asp-for="Email" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                    <input type="text" class="form-control" asp-for="Subject" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                    <textarea asp-for="Content" class=" form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                <button onclick="sendMessage()" class="btn oneMusic-btn mt-30" type="submit">Göder <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script>

    function sendMessage() {
        Swal.fire({
            title: "İşlem Tamamlandı",
            html: "Mesajınız Gönderildi",
            icon: "success",
            showCancelButton: false,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Tamam",
            cancelButtonText: "Vazgeç"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/AdminAlbum/DeleteAlbum/" + id;
            }
        });
    }
</script>