@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hakkımızda Güncelleme Sayfası</h3>
<br />


<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x=>x.AboutId,new {@class="form-control"})
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Başlık</label>
        @Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Görsel</label>
        @Html.TextBoxFor(x=>x.ImageUrl,new {@class="form-control"})
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Başlık</label>
        @Html.TextAreaFor(x=>x.Description,5,1,new{@class="form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
