@model Album
@{
    ViewData["Title"] = "UpdateAlbum";
    Layout = "~/Areas/Artist/Views/ArtistLayout/Index.cshtml";
}

<h1>UpdateAlbum's Page  </h1>

<form method="post">
    <input type="hidden" asp-for="AlbumId" />

    <label>Album Adi</label>
    <input type="text" asp-for="AlbumName" class="form-control" />

    <label>Kapak Resmi</label>
    <input type="text" asp-for="CoverImage" class="form-control" />

    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />

    <button class="btn btn-outline-primary">Guncelle</button>

</form>

