
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sayfa bulunamadı</title>
	<link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/Templates/colorlib-error-404-11/css/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" href="~/Templates/colorlib-error-404-11/css/style.css" />
</head>

<body>
	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h3>Ooopps..! Aradığınıız Sayfa bulunamadı</h3>
			<span>Buyrun sizi ana sayfaya alalım</span><br /><br />
			<a href="#">Ana Sayfaya Dön</a>
		</div>
	</div>

</body>

</html>
