@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OneMusic Giriş Ekranı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Templates/colorlib-regform-21/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Templates/colorlib-regform-21/css/style.css">
</head>
<body>
    @if (TempData["userErr"] != null)
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>

            Swal.fire({
                title: "Mail Aktivasyon",
                text: "Şifrenizi sıfırlayabilmeniz için mail adresinizin onaylanması gereklidir. İşleminize mailinizi onaylayarak devam etmek ister misiniz? ",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet",
                cancelButtonText: "Hayır"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Login/ConfirmEmail',
                        type: 'post',
                        success: function () {
                            Swal.fire({
                                title: "Mail Aktivasyon",
                                text: "Aktivasyon için mail adresinizi kontrol ediniz",
                                icon: "success"
                            });
                        }
                    })

                }
            });

        </script>
    }

    <div class="wrapper">
        <div class="inner">
            <form method="post">
                <h3>OneMusic Şifre Sıfırlama</h3>

                <div class="form-wrapper">

                    <label class="label-input">Email Adresiniz.</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <small style="color:white"><b>Email adresinizin doğrulanmış olması gereklidir.</b></small>
                <button>Şifre Sıfırlama İsteği</button>
                <div style="color:red; margin-top:20px">
                    @Html.ValidationSummary()
                </div>
            </form>
            <div class="image-holder">
                <img src="~/Templates/colorlib-regform-21/images/registration-form-5.jpg" alt="">
            </div>
        </div>
    </div>

    <script src="~/Templates/colorlib-regform-21/js/jquery-3.3.1.min.js"></script>
    <script src="~/Templates/colorlib-regform-21/js/main.js"></script>
</body>
</html>
