@using OneMusic.WebUI.Models.LoginModels;
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OneMusic Giriş Ekranı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Templates/colorlib-regform-21/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Templates/colorlib-regform-21/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <form method="post">
                <h3>OneMusic Giriş Formu</h3>
                <div class="form-wrapper">
                    <label class="label-input">Kullanıcı Adı</label>
                    <input type="text" asp-for="UserName" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label class="label-input">Şifre</label>
                    <input type="password" asp-for="Password" class="form-control">
                </div>
                <br />
                <br />
                <div class="form-wrapper">
                    <a href="/Login/ForgotPassword" style="color:#f78582">Şifremi Unuttum</a>
                </div>
                <div class="form-wrapper">
                    <a href="/Register/SignUp" style="color:#f78582">Kayıt Ol</a>
                </div>
                <button>Giriş Yap</button>
                <div style="color:red; margin-top:20px">
                    @Html.ValidationSummary()
                </div>
            </form>
            <div class="image-holder">
                <img src="~/Templates/colorlib-regform-21/images/registration-form-5.jpg" alt="">
            </div>
        </div>
    </div>

    <script src="~/Templates/colorlib-regform-21/js/jquery-3.3.1.min.js"></script>
    <script src="~/Templates/colorlib-regform-21/js/main.js"></script>
</body>
</html>
