@model LoginViewModel
@{
    Layout = null;
}



<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v5 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="~/colorlib-regform-21/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/colorlib-regform-21/css/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="inner">
			<form asp-action="Index" method="post">
				<h3>OneMusic Giris Form</h3>

				
				
				
				<div class="form-wrapper">
					<label for="" class="label-input">UserName</label>
					<input type="text" asp-for="UserName" class="form-control">
				</div>
				<div class="form-wrapper">
					<label for="" class="label-input">Password</label>
					<input type="password" asp-for="Password" class="form-control"> @* // type password yaptik sifre gozukmeasin diye *@
				</div> @* sifre: Kad123?+ *@
				

				<div style="color:red">
					@Html.ValidationSummary()
				</div>


				<button>Log In</button>
			</form>
			<div class="image-holder">
				<img src="https://www.technopat.net/sosyal/eklenti/tumblr_30f5fc03134b833e1b120436b4824d60_cc4d50a6_1280-jpg.1171543/"
					 style="width:560px;heigth:450px" alt="">
			</div>
		</div>
	</div>

	<script src="~/colorlib-regform-21/js/jquery-3.3.1.min.js"></script>
	<script src="~/colorlib-regform-21/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

