<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/Admin/Dashboard/" class="text-nowrap logo-img">
                <img src="~/one-music-gh-pages/img/core-img/logo.png" width="180" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/AdminAbout/index" aria-expanded="false">
                        <span>
                            <i class="ti ti-phone-outgoing"></i>
                        </span>
                        <span class="hide-menu">Hakkımızda</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/AdminBanner/index" aria-expanded="false">
                        <span>
                            <i class="ti ti-cards"></i>
                        </span>
                        <span class="hide-menu">Banner</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Artists/Index" aria-expanded="false">
                        <span>
                            <i class="ti ti-users"></i>
                        </span>
                        <span class="hide-menu">Sanatçılar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/AdminEvents/Index" aria-expanded="false">
                        <span>
                            <i class="ti ti-calendar-event"></i>
                        </span>
                        <span class="hide-menu">Etkinlikler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Role/Index" aria-expanded="false">
                        <span>
                            <i class="ti ti-file-settings"></i>
                        </span>
                        <span class="hide-menu">Roller</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/RoleAssign/Index" aria-expanded="false">
                        <span>
                            <i class="ti ti-user-plus"></i>
                        </span>
                        <span class="hide-menu">Rol Ata</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/AdminAlbum/Index" aria-expanded="false">
                        <span>
                            <i class="ti ti-music"></i>
                        </span>
                        <span class="hide-menu">Albümler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/AdminAlbumVerify/Index" aria-expanded="false">
                        <span>
                            <i class="ti ti-check"></i>
                        </span>
                        <span class="hide-menu">Onay İşlemleri</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/AdminProfile/Index" aria-expanded="false">
                        <span>
                            <i class="ti ti-user"></i>
                        </span>
                        <span class="hide-menu">Hesabım</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Login/LogOut" aria-expanded="false">
                        <span>
                            <i class="ti ti-lock"></i>
                        </span>
                        <span class="hide-menu">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</aside>