@model AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Rol Güncelleme Sayfası</h1>
<br />

<form method="post">
    <input type="hidden" asp-for="Id" class="form-control" />
    @Html.Label("Rol Adı")
    <input type="text" asp-for="Name" class="form-control" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>



