@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h1>Roller Index</h1>
 <table class="table table-bordered">

     <tr> 
         <th>#</th>
         <th>Role Adi </th>
         <th>Islemler </th>
     </tr>

     @foreach (var item in Model)
    {
        count++;
        <tr>
            
                  <th> @count </th>    
                  <td> @item.Name </td>    
                  <td> 
                    <a href="/Role/DeleteRole/@item.Id" class="btn alert-danger"> Sil </a>
                     <a href="/Role/UpdateRole/@item.Id" class="btn alert-danger"> Guncelle </a>
        </td>
        

        </tr>
    }

 </table>
  <a href="/Role/CreateRole" class="btn alert-primary"> Yeni Rol Ekle </a>