@model AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateRole Page</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label> Rol Adi </label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <button class="btn btn-outline-primary"> Guncelle </button>

</form>
